/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-4xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-64: 16rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --font-size-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --font-size-0: 0.833rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
  --font-size-7: 2.986rem;
  /* Color palette */
  --color-orange-600: #F86F06;
  --color-orange-500: #FA842A;
  --color-orange-400: #FA9344;
  --color-light-blue-600: #36D3FA;   
  --color-light-blue-500: #61DBFB;   
  --color-light-blue-400: #74E0FB;
  --color-dark-blue-900: #11191D;
  --color-dark-blue-600: #1D2C33;
  --color-dark-blue-500: #22333B;   
  --color-dark-blue-400: #354F5B;
  --color-dark-blue-300: #486C7D;
  --color-black-600: #080807;
  --color-black-500: #0A0908;
  --color-black-400: #2D2924;
  --color-black-300: #4F4740;
  --color-black-200: #71665B;
  --color-white-600: #C9C2BB;
  --color-white-500: #E4E0DD;
  --color-violet: #6161F9;
  --color-red: #F9412A;
  --color-purple: #5E41C5;
  --color-pink: #E67074;
  
  /* Semantic colors */
  --color-header-primary: var(--color-orange-500);
  --color-header-secondary: var(--color-orange-400);

  --color-text: var(--color-white-500);
  --color-text-action: var(--color-red);
  --color-text-light: var(--color-light-blue-600);
  --color-accent: #d1dce5;

  --background-color-lighter: var(--color-dark-blue-500);
  --background-color:var(--color-dark-blue-900);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--font-size-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-1);
  color: var(--color-text);
  background-color: var(--background-color);
  overflow-wrap: break-word;
}



hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  color: var(--color-header-secondary);

  transition: color 250ms ease-in-out;
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}


/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
  font-weight: 300;
}

ul,
ol {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  list-style-position: outside;
  list-style-image: none;
}

img {
  max-width: 100%;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  background-color: rgb(209 220 229 / 0.04);

  padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--font-size-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-text-light);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */
strong, b { 
  text-shadow: 2px 2px var(--color-dark-blue-900);
  font-weight: 800;
}

section[itemprop="articleBody"] ul, section[itemprop="articleBody"] ol {
  padding-left: var(--spacing-4);
}

.post-list-item section {
  grid-area: body;
  margin-bottom: var(--spacing-0);
  padding-left: 4px;
}

.post-list-item header {
  grid-area: title;
  font-size: var(--font-size-4);
  
  border-image: linear-gradient(to left, var(--color-violet), var(--color-pink)) 30;
  border-width: 0 0 1px 0;
  border-style: solid; 
}

.post-list-item:hover h2 {
  color: var(--color-orange-500);
}

.post-list-item time {
  grid-area: date;
  justify-self: end;

  color: var(--color-dark-blue-300);
  font-size: var(--font-size-0);
}

.post-list-item .categories {
  grid-area: tags;

  margin-bottom: var(--spacing-4);
}

.categories span {
  border-radius: 4px;
  padding: 1px 2px;
  margin-left: 4px;

  font-size: var(--font-size-0);
  font-weight: bold;

  background-color: var(--color-black-200);
  color: var(--color-dark-blue-600);
}

.categories .orientacion {
  background-color: #cc93bc;
}

.categories .programacion {
  background-color: #8fd6f6;
}

.categories .frontend {
  background-color:#99cd9f;
}

.categories .conferencias {
  background-color: #ef9da3;
}

.post-list-item {
  display: grid;
  
  gap: 0px 0px;
  grid-template-areas:
    "title title title title"
    "tags tags tags date"
    "body body body body";

  padding-right: var(--spacing-16);  
}

.post-list-item:hover {
  background: linear-gradient(90deg, transparent, #2b3b41);
}

.bio {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-6);
}

.bio p {
  margin: 0 0 0 var(--spacing-6);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;

  z-index: -1;
}

.blog-post header h1 {
  color: var(--color-header-primary);

  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);

  border-image: linear-gradient(to left, var(--color-purple), var(--color-red)) 30;
  border-width: 0 0 3px 0;
  border-style: solid; 
}

.blog-post header p {
  font-size: var(--font-size-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-10) 0 var(--spacing-6) 0; 
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.blog-post iframe {
  margin: 0 auto var(--spacing-10) auto;
  display: block;

  max-width: 90%;
  height: auto;
}

/* NEW LAYOUT */

header.main-header {
  color: var(--color-orange-500);
  background-color: var(--color-dark-blue-900);
  box-shadow: none;

  position: fixed;
  display: flex;
  align-items: center;

  width: 100%;
  height: calc(var(--font-size-6) * 2);
  padding: var(--spacing-2) var(--spacing-64) var(--spacing-2) var(--spacing-32);

  transition: all 250ms ease-in-out;
}

.main-header { 
  font-size: var(--font-size-6);
  margin: 0;
  white-space: nowrap
}

/* HEADER ON SCROLL */
.main-header.small {
  height: calc(var(--font-size-6));

  box-shadow: 0px 5px 10px 0px var(--color-dark-blue-900);
}

.small .main-heading, .small a.main-header  {
  font-size: var(--font-size-4);
}

.small nav a {
  font-size: var(--font-size-1);
}

/* NAVIGATION */

nav.site-navigation {
  width: 100%;
}

.site-navigation ul {
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 0;
}

.site-navigation ul li {
  list-style-type: none;

  margin: 0 0 0 var(--spacing-6);
}

.site-navigation a {
  padding: 0 4px;
  text-decoration: none;

  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);

  color: var(--color-orange-500);

  transition: color 300ms ease-in-out;
  border-radius: 4px;
  background:
     linear-gradient(
       to bottom, var(--color-orange-500) 0%,
       var(--color-orange-500) 100%
     );
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  transition: all .35s;
}

.site-navigation a:hover {
  color: var(--color-dark-blue-900);
  background-size: 4px 50px;
}

/* CONTAINERS */

.global-wrapper {
  margin: calc(var(--font-size-6) * 2 - 100vh) auto var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) 0 var(--spacing-10) var(--spacing-16);
}

.blog-post {
  padding-right: var(--spacing-16);
}

footer { 
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: space-evenly;
  align-items:center;

  font-weight: 900;

  color: var(--color-dark-blue-400);

  background-color: var(--color-dark-blue-900);
}

footer a {
  color: var(--color-light-blue-600);
}
.gradient-background {
  position: sticky;
  top: 0;
  z-index: -1;

  width: 100vw;
  height: 100vh;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-16);

  background: linear-gradient(var(--background-color-lighter) 60%, var(--background-color));
}

.disclaimer {
  border-radius: 8px;
  padding: var(--spacing-6);
  background: repeating-linear-gradient( 45deg, rgb(8 16 30 / 5%), rgb(8 16 30 / 5%) 20px, rgb(43 92 134 / 5%) 20px, rgb(43 92 134 / 5%) 40px );
  border: 1px solid rgb(255 255 255 / 20%);
}

.disclaimer ul {
  margin-bottom: var(--spacing-2);
  padding-left: var(--spacing-4);
}

.post-list li {
  margin-bottom: var(--spacing-4);
}

.post-list li:last-child {
    margin-bottom: var(--spacing-0);
}

/* Temp animation until logo is in place */
.main-heading {
  --borderWidth: 5px;
  position: relative;
  margin: var(--spacing-6) 0;

  font-family: var(--font-heading);
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-6);
  line-height:var(--lineHeight-tight);
  text-decoration: none;
  letter-spacing: -0.025em;

  color: var(--color-header-primary);
  background-color: var(--color-dark-blue-900);

  transition: all 250ms ease-in-out;
}

.main-heading:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;

  height: calc(100% + var(--borderWidth) );
  width: 100%;

  background: linear-gradient(60deg, var(--color-orange-400), var(--color-pink), var(--color-purple), var(--color-light-blue-500), var(--color-orange-600));
  border-radius: calc(2 * var(--borderWidth));
  
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-2) var(--spacing-4);
    margin-left: var(--spacing-0);
    width: 100%;
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 550px) {
    .global-wrapper {
      padding: var(--spacing-1) 0 var(--spacing-1) var(--spacing-8);
    }

    section[itemprop="articleBody"] {
      text-align: justify;
    }

    h2, h3, h4 {
      text-align: left;
    }

    .blog-post {
      padding-right: var(--spacing-8);
      padding-top:var(--spacing-4);
    }

    .post-list-item {
      padding-right: var(--spacing-8);
    }

    .bio {
      margin: var(--spacing-2) var(--spacing-8) var(--spacing-1) 0;
      margin-bottom: var(--spacing-4);
      margin-right: var(--spacing-8);
    }

    .bio:first-child {
      margin-top: var(--spacing-8);
    }

    .main-heading:after {
      top: 1px;
      left: 1px;
      width: 99%;
    }

    .site-navigation {
      display: none;
    }

    header.main-header {
      padding: 0;
    }

    .main-heading {
      margin: var(--spacing-2) auto;
    }
    .gradient-background {
      margin: 0;
      padding: 0;
    }
}